
.skeleton-container {
    display: flex;
    flex-direction: row;
    
    gap: 20px;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.skeleton-card {
    width: 30%;
    position: relative;
    border-radius: 10px;
    background-color: #dddd;
    height: 390px;
    width: 266px;
}

.skeleton-text {
    position: absolute;
    top: 120px;
    left: 10px;
}

.skeleton-text > h2 {
    height: 20px;
    width: 150px;
    background-color: #f2f2f2;
}

.skeleton-text > p {
    height: 17px;
    min-width: 350px;
    background-color: #f2f2f2;
    margin: 5px auto;
}


.shimmer-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading 2.2s infinite;

}

.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
    0% {transform: translateX(-150%);}
    50% {transform: translateX(-60%);}
    100% {transform: translateX(150%);}
}